<div class="container">
  <h2>My Todo List</h2>

  <div class="input-group">
    <input [(ngModel)]="newTodo" placeholder="Enter new todo" class="form-control" />
    <button (click)="addTodo()" class="btn btn-primary">Add</button>
  </div>

  <ul class="list-group mt-3">
    <li *ngFor="let todo of todos; let i = index" class="list-group-item d-flex justify-content-between">
      {{ todo }}
      <button (click)="deleteTodo(i)" class="btn btn-danger btn-sm">Delete</button>
    </li>
  </ul>
</div>
